:root {
    --wine-color: #6B2737;
    --green-midnight-color: #114B5F;
    --lapis-lazuli-color: #456990;
    --white-color: rgba(255,255,255);
    --black-neutro-color: rgba(0,0,0,0.8); 
    --nyanza-color: #E4FDE1;
    --bright-pink-color: #F45B69; 
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

h1,
h2,
a {
    font-family: 'Playfair Display', serif;
}

.boton {
    position: relative;
    padding: 5px 15px;
    border: 1px solid var(--white-color);
}