:root {
    --wine-color: #6B2737;
    --green-midnight-color: #114B5F;
    --lapis-lazuli-color: #456990;
    --white-color: rgba(255,255,255);
    --black-neutro-color: rgba(0,0,0,0.8); 
    --nyanza-color: #E4FDE1;
    --bright-pink-color: #F45B69; 
}